/* BUTTON DEFAULT STYLES */
.button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  gap: 1rem;
  background-color: var(--light-color);
  color: var(--black-color);
  padding: 0.6rem 2.5rem;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: var(--border-radius-2);
  transition: var(--transition);
}

.button:hover {
  background-color: transparent;
  border-color: var(--light-color);
  transform: translateY(-0.5rem);
}

/* button variant */
.button--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.button--primary:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.button--secondary {
  background-color: var(--white-color);
}

.button--secondary:hover {
  background-color: transparent;
  border-color: var(--white-color);
}

/* button size */
.button--small {
  padding: 0.5rem 1.2rem;
}

/* media queries */
@media screen and (max-width: 768px) {
  .button {
    padding: 0.6rem 1.5rem;
  }
}
