#header {
  overflow-x: hidden;
  padding: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__container {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Header profile photo */
.header__profile {
  width: 18rem;
  height: 18rem;
  background-image: url(/assets/images/Shrey_Profile_01.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 1.5rem;
  transition: all 1s;
  animation: animate-header-image 5s ease-in-out infinite;
  transform: translateY(-100%);
  opacity: 0;
  box-shadow: 0px 5px 5px 5px rgba(13, 110, 253, 0.2);
}

#header.show-animation .header__profile {
  transform: translateX(0);
  opacity: 1;
}

@keyframes animate-header-image {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 40%;
  }
}

/* Header profile photo */

/* Header content and typewriter effect */
.header__content {
  width: 35rem;
  transition: var(--transition);
}

.header__content .about__about-me-title {
  transform: translateX(-100%);
  opacity: 0;
  transition: 1s;
  color: var(--font-color);
}

#header.show-animation .header__content .about__about-me-title {
  transform: translateX(0);
  opacity: 1;
}

#header__typrwriter {
  color: var(--primary-color);
}

#header__cursor {
  color: var(--primary-color);
  animation: blink-cursor 1s linear infinite;
}

@keyframes blink-cursor {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }
}

/* Header content and typewriter effect */

/* Navigation buttons */
.header__navigation-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;
}

.header__navigation-buttons a:nth-child(1) {
  z-index: 9;
}

.header__navigation-buttons a {
  transform: translateX(-100%);
  transition-delay: calc(0.3s * var(--navigation-buttons-i));
  opacity: 0;
}

#header.show-animation .header__navigation-buttons a {
  transform: translateX(0);
  opacity: 1;
}

/* Navigation buttons */

/* Social media buttons */
.header__social-media-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: var(--white-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  margin: 0 5px;
  overflow: hidden;
  text-align: start;
  transition:
    width 0.3s ease-in-out,
    transform calc(0.7s * var(--social-media-buttons-i)) ease-in-out,
    opacity 0.3s ease-in-out;
  transform: translateX(100px);
  opacity: 0;
}

#header.show-animation .header__social-media-button {
  transform: translateX(0);
  opacity: 1;
}

.header__social-media-button a {
  font-size: 0.9rem;
  margin-left: 12px;
  user-select: none;
  color: var(--black-color);
}

.header__social-media-button:nth-child(1):hover .header__social-media-icon {
  background: var(--linkdin-color-code);
  color: var(--white-color);
}

.header__social-media-button:nth-child(2):hover .header__social-media-icon {
  background: var(--github-color-code);
  color: var(--white-color);
}

.header__social-media-button:nth-child(3):hover .header__social-media-icon {
  background: var(--instagram-gradient-color-code);
  color: var(--white-color);
}

.header__social-media-button:hover {
  width: 150px;
}

.header__social-media-button:active {
  width: 150px;
}

.header__social-media-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  font-size: 1rem;
  line-height: 40px;
  color: var(--primary-color);
}

/* Social media buttons */

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  #header {
    padding: 1rem 0;
  }

  .header__social-media-container {
    text-align: center;
  }

  .header__container {
    flex-direction: column-reverse;
  }

  .header__content .about__about-me-title {
    text-align: center;
  }

  .header__navigation-buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .header__profile {
    width: 14rem;
    height: 14rem;
  }

  .header__container {
    gap: 0;
  }

  .header__container p {
    width: 100%;
  }

  .header__navigation-buttons {
    margin: 0.5rem 0;
  }

  .header__social-media-links {
    display: none;
  }

  .header__social-media-button {
    display: inline-block;
    width: 35px;
    height: 35px;
  }

  .header__social-media-button a {
    font-size: 0.8rem;
    color: var(--black-color);
    margin-left: 8px;
  }

  .header__social-media-button:hover {
    width: 120px;
  }

  .header__social-media-button:active {
    width: 120px;
  }

  .header__social-media-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

/* MEDIA QUERIES */
