#about {
    /* background-color: var(--light-color); */
}

.about__card-container {
    text-align: center;
    transition: var(--transition);
    transform: scale(0.6);
    opacity: 0;
}

.about__card-container h2 {
    margin-bottom: 1rem;
}

#about.show-animation .about__card-container {
    transform: scale(1);
    opacity: 1;
}


/* About card */
.about__card {
    width: 400px;
    height: 415px;
    margin-inline: auto;
    position: relative;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    perspective: 1000px;
}


/* About card */

/* About card content */
.about__content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    padding: 1rem;
}

/* About card content */

/* About card profile */
.about__profile {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-origin: left;
    transform-style: preserve-3d;
    z-index: 9;
}

#about.show-animation .about__card {
    transform: translateX(50%);
    transition-delay: 0.5s;
}

#about.show-animation .about__profile {
    transform: rotateY(-180deg);
    transition-delay: 0.5s;
}

.about__front-image,
.about__back-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.about__front-image {
    background: url(/public/assets/images/Shrey_Profile_04.jpg);
    background-position: center;
    background-size: cover;
}

.about__back-image {
    background: url(/public/assets/images/Shrey_Profile_03.jpg);
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);

}

/* About card profile */