.tags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.tag {
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 0.2rem 0.8rem;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: var(--border-radius-3);
    transition: var(--transition);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
}