@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  font-family: 'Nunito sans', sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
  background: var(--bg-primary-color);
}

/* html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
} */