/* SECTION UTILITY CLASSES */
.section {
  transition: var(--transition);
  overflow-x: hidden;
  position: relative;
  padding: 6rem 0;
}

.section:nth-child(odd) {
  background-color: var(--light-color);
}

.section>h2 {
  text-align: center;
}

.section>p {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 8rem 0;
  }

  .section>p {
    width: var(--container-width-md);
    margin-bottom: 3rem;
  }
}