:root {
  --primary-hue: 270;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 94%;
  --white-lightness: 100%;
  /* --primary-color: hsl(var(--primary-hue), 89%, 41%); */
  --primary-color: #a07161;
  --white-color: hsl(0, 5%, var(--white-lightness));
  --light-color: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --black-color: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --dark-color: hsl(var(--primary-hue), 5%, var(--dark-lightness));

  /* CONTAINER VARIABLES */
  --container-width-lg: 76%;
  --container-width-md: 90%;

  --primary-container-max-width: 1920px;

  /* BORDER RADIUS */
  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  /* GENERAL TRANSITIONS */
  --transition: all 500ms ease;
}
