:root[data-theme="light"] {
  --black-color: #262428;
  --dark-color: #706a75;
  --bg-primary-color: #efeef0;
  --card-bg-primary-color: #ffffff;
  --card-bg-secondary-color: #efeef0;
  --white-color: #ffffff;
  --primary-color: #588dc7;
  --font-color: #262428;
}

:root[data-theme="dark"] {
  --black-color: #262428;
  --dark-color: #706a75;
  --bg-primary-color: #1f1f38;
  --card-bg-primary-color: #2c2c6c;
  --card-bg-secondary-color: #1f1f38;
  --white-color: #ffffff;
  --primary-color: #588dc7;
  --font-color: #ffffff;
}

:root {
  --black-color: #262428;
  --dark-color: #706a75;
  --bg-primary-color: #efeef0;
  --card-bg-primary-color: #ffffff;
  --card-bg-secondary-color: #efeef0;
  --white-color: #ffffff;
  --primary-color: #588dc7;

  /* CONTAINER VARIABLES */
  --container-width-lg: 76%;
  --container-width-md: 90%;

  --primary-container-max-width: 1920px;

  /* BORDER RADIUS */
  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  /* GENERAL TRANSITIONS */
  --transition: all 500ms ease;

  /* SOCIAL MEDIA ICON COLORS */
  --linkdin-color-code: #0077b5;
  --github-color-code: #1f2328;
  --instagram-gradient-color-code: radial-gradient(circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%);
}