#floating-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 2rem;
    border-radius: 10px;
    padding-block: 2rem;
    z-index: 12;
    backdrop-filter: blur(15px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#floating-navbar .floating-navbar__menu {
    position: relative;
    display: flex;
    flex-direction: column;
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item {
    list-style: none;
    width: 60px;
    height: 60px;
    z-index: 1;
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-weight: 500;
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item a .floating-navbar__icon {
    line-height: 60px;
    display: block;
    position: relative;
    font-size: 1.2rem;
    transition: all 0.5s;
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item.floating-navbar--active-tab a .floating-navbar__icon {
    transform: translateX(30px);
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item a .floating-navbar__text {
    position: absolute;
    font-size: 0.70rem;
    color: var(--primary-color);
    letter-spacing: 0.05rem;
    transition: all 0.5s;
    opacity: 0;
    transform: translate(-20px, 0);
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item.floating-navbar--active-tab a .floating-navbar__text {
    transform: translate(90px, 0);
    opacity: 1;
}

.floating-navbar__indicator {
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    position: absolute;
    right: -50%;
    border-radius: 50%;
    border: 6px solid var(--light-color);
    transition: all 0.5s;
}

.floating-navbar__indicator::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    right: 50%;
    top: -22px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 0 0 0 var(--light-color);
}

.floating-navbar__indicator::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    right: 50%;
    top: 52px;
    border-top-right-radius: 20px;
    box-shadow: 10px 0 0 0 var(--light-color);
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item:nth-child(1).floating-navbar--active-tab~.floating-navbar__indicator {
    transform: translateY(calc(60px * 0));
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item:nth-child(2).floating-navbar--active-tab~.floating-navbar__indicator {
    transform: translateY(calc(60px * 1));
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item:nth-child(3).floating-navbar--active-tab~.floating-navbar__indicator {
    transform: translateY(calc(60px * 2));
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item:nth-child(4).floating-navbar--active-tab~.floating-navbar__indicator {
    transform: translateY(calc(60px * 3));
}

#floating-navbar .floating-navbar__menu .floating-navbar__list-item:nth-child(5).floating-navbar--active-tab~.floating-navbar__indicator {
    transform: translateY(calc(60px * 4));
}