.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-container h2 {
    transform: scale(0.6);
    opacity: 0;
    transition: 1s;
}

#projects.show-animation .projects-container h2 {
    transform: scale(1);
    opacity: 1;
}

.projects-container .projects-container__cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 50px 50px;
    transform-style: preserve-3d;
}


.projects-container .projects-container__card {
    position: relative;
    width: 450px;
    height: 300px;
    background: var(--white-color);
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
}

.projects-container .projects-container__card:hover {
    cursor: pointer;
    height: 500px;
    background: var(--light-color);
    border: 2px solid var(--white-color);
}

.projects-container .projects-container__cards-container .projects-container__parent-card {
    opacity: 0;
    transition: 1s;
}

.projects-container .projects-container__cards-container .projects-container__parent-card:nth-child(odd) {
    transform: translateX(-100%);
}

.projects-container .projects-container__cards-container .projects-container__parent-card:nth-child(even) {
    transform: translateX(100%);
}

#projects.show-animation .projects-container .projects-container__cards-container .projects-container__parent-card {
    transform: translateX(0);
    opacity: 1;
}


.projects-container .projects-container__card .projects-container__img-box {
    position: absolute;
    top: 20px;
    width: 400px;
    height: 220px;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
    transform-style: preserve-3d;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background: var(--white-color);
}

.projects-container .projects-container__card:hover .projects-container__img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 75px);
}

.projects-container .projects-container__card .projects-container__img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
}


.projects-container .projects-container__card .projects-container__content {
    position: absolute;
    width: 100%;
    padding: 0 30px;
    top: 255px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects-container .projects-container__card:hover .projects-container__content {
    top: 100px;
    height: 370px;
}